.header_content{
    height: 300px;
    overflow: hidden;
    padding: 50px 0;
    background-image: url("https://theme.hstatic.net/1000313040/1000406925/14/breadcrumb_bg.png?v=1963");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header_content .img_giaodien{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.3);
    z-index: 1;
}

.header_content .wellcome{
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    bottom: 50%;
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
}

.navigation_content .menu .DanhMuc {
    background-color: #3d1a1a;
    color: #fff;
    padding: 5px;
    border-top:1px solid #3d1a1a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navigation_content .menu .DanhMuc h5{
    padding-right: 7px;

    
}

.navigation_content .menu .listmenu ul{
    list-style: none;
    /* display: inline-block; */
    padding: 0 47.5px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation_content .menu .listmenu ul li{
    list-style: none;
}


.navigation_content .menu .listmenu ul li a{
    list-style: none;
    display: inline-block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    font-size: 1.175rem;
    font-weight: 600;
    color: #3e4d68;
}

.navigation_content .menu .listmenu ul li a::after{
    content: '';
    display: block;
    border-bottom: 1px solid #3e4d68;
    width: 0%;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.navigation_content .menu .listmenu ul li a:hover{
    color: #3d1a1a;
}

.navigation_content .menu .listmenu ul li a:hover::after{
    width: 100%;
}

.navigation_content .SP_Banh .card .Product_img{
    height: 9rem;
    overflow: hidden;
}

.navigation_content .SP_Banh .card:hover{
    box-shadow: 0 3px 8px  rgb(0, 0, 0,25%);
    cursor: pointer;
    transform: scale(1.01,1.01);
    cursor: grab;
}

.navigation_content .SP_Banh .card .Product_img:hover img{
    transform: scale(1.01,1.01);
    cursor: grab;
}

.navigation_content .SP_Banh .Page2{
    display: none;
}

.header_content .wellcome h1{
    letter-spacing: 2px;
    text-shadow: 1px 1px #ad795b, 2px 2px #ad795b, 3px 3px #ad795b, 4px 4px #ad795b, 5px 5px #ad795b, 6px 6px #ad795b;
    font: bold 52px status-bar;
}


@media (min-width: 740px) and (max-width: 1023px) {
   .navigation_content .row .menu{
        width: 100%;
   }
    
    
}

@media (max-width:740px) {
    .navigation_content .row .menu{
        width: 100%;
   }
}

