
.header_content{
    height: 300px;
    overflow: hidden;
    padding: 50px 0;
    background-image: url("https://theme.hstatic.net/1000313040/1000406925/14/breadcrumb_bg.png?v=1963");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header_content .img_giaodien{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.3);
    z-index: 1;
}

.header_content .wellcome{
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    bottom: 50%;
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
}

.navigation_content .menu .DanhMuc {
    background-color: #3d1a1a;
    color: #fff;
    padding: 5px;
    border-top:1px solid #3d1a1a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navigation_content .menu .DanhMuc h5{
    padding-right: 7px;

    
}

.navigation_content .menu .listmenu ul{
    list-style: none;
    /* display: inline-block; */
    padding: 0 47.5px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation_content .menu .listmenu ul li{
    list-style: none;
}


.navigation_content .menu .listmenu ul li a{
    list-style: none;
    display: inline-block;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    font-size: 1.175rem;
    font-weight: 600;
    color: #3e4d68;
}

.navigation_content .menu .listmenu ul li a::after{
    content: '';
    display: block;
    border-bottom: 1px solid #3e4d68;
    width: 0%;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.navigation_content .menu .listmenu ul li a:hover{
    color: #3d1a1a;
}

.navigation_content .menu .listmenu ul li a:hover::after{
    width: 100%;
}

.Page1 .card .card-img{
    height: 8rem;
    overflow: hidden;
}


