@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6eee9;
    
}

.btn a,span,h6,
p,h5{
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}

body{
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    position: relative;
    background-color: #f6eee9;
}

.header{
    width: 100vw;
    height: 100px;
    background-color: rgb(246, 238, 233);
    box-shadow: 0 3px 8px  rgb(0, 0, 0,25%);
    overflow: hidden;
}


.icon-tk {
   color: currentColor;
   color: #ad7959;
}
a{
    text-decoration: none;
    color: currentColor;
    font-size: 25px;
    color: #81553a;
}

a:hover{
    color: #81553a;
}

.header-logo img{
    width: 100px;
    height: 100px;
    
}


.header-menu .header-ul .item, .item-menu-two{
    padding: 10px 20px;
    transition: all .1s ease;
    border-bottom: 0px solid #c39d86;
    border-top: 0px solid #c39d86f4;
    cursor: pointer;
}

.header-menu .header-ul .item:hover{
    border-bottom: 3px solid #c39d86;
}

.item-menu-two{
    position: relative;
}

.item-logout{
    display: none;
    position: absolute;
}

.item-menu-two:hover .item-logout{
    display: block;
}

.logout a{
    font-size: 20px;
    margin-left: 20px;
}

.mobile-toggler .bars{
    color: #c59170;
    font-size: 30px;
    border: 1px solid #c59170;
    box-shadow: 0px 3px 8px rgb(197, 145, 112);
    border-style: double;
    
}

.cart .cart-icon i{
    color: #ba917a;
}
/* end menu */

/* Model */
.modal-content{
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f6eee9;
}

.modal-dialog{
    margin: 0;
    width: 430px;
}

.modal-header{
    width: 88%;
    margin: 0 auto;
    border-bottom: 10px;
    border-bottom: 1px solid #c39d86;
}

.modal-body{
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal .modal-header img{
    width: 200px;
    height: 200px;
}

.modal-body .modal-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 7px 0; */
    padding-bottom: 7px;
    margin-left: 7px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .1s ease;
    color: #c39d86;
    border-bottom: 1px solid #c39d86;
}

.modal-body .modal-line:hover{
    color: #fefefe;
    border-bottom: 2px solid #fefefe;
}

h3,
.modal-line a{
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #ad7959
}

.GiupDo button{
    background-color: #ad7959;
    
}
.modal-line i{
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
    
}

.fade .modal-header img{
    width: 200px;
    height: 200px;
}

.fade__two{
    width: 450px;
    height: 200px;
}

.thongbao_mode .modal-header h5,
.modal-body_two p {
    color: #ad795b;
}


/* Hổ trợ */
.Add,
.Navigation {
    font-family: 'Times New Roman', Times, serif;
    height: auto;
    box-shadow: 0 3px 8px rgb(0, 0, 0,25%);
}

.show_notify{
    height: 200px;
}

.chamsocKH{
    border: 2px solid;
    border-radius: 20px;
}

/* Footer */
.footer{
    border-top: 1px solid #f6eee9;
    box-shadow: 0 4px 10px rgb(0, 0, 0,0.25);
    background-color: #f6eee9;
}

.footer .container h5, .footer-header h5{
    font-weight: bolder;
    line-height: 30px;
    
}

.footer .container p{
    font-size: 16px;
}

.footer .footer-local h5, 
.footer .footer-local h6{
    font-size: 15px;
}
/* End Footer */


@media (min-width: 740px) and (max-width: 1023px) {
    .header-menu .item, .item-menu-two{
        display: none;
    }

    .CT-tablet{
        display: none;
    }

    .CT-Mobile img{
        width: 100%
    }
    
}

@media (max-width:740px) {
    .header-menu .item, .item-menu-two{
        display: none;
    }

    .CT-tablet{
        display: none;
    }

    .CT-Mobile img{
        width: 100%
    }
}

.reveal{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }